<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffee_lovers_mrcoffee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mr.Coffee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeLoversMrCoffee">
        <activity android:name=".admin_landing_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawerAdmin" />
        <activity android:name=".ProductUpdatePopup" />
        <activity android:name=".UpdateProductLayout" />
        <activity android:name=".UpdateProducts" />
        <activity android:name=".ShowProduct" />
        <activity android:name=".MainProduct" />
        <activity android:name=".DeleteProduct" />
        <activity android:name=".UpdateProduct" />
        <activity android:name=".ViewProduct" />
        <activity android:name=".AddProduct" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>